In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import hvplot.pandas
import plotly.express as px
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering, KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import normalize, StandardScaler
from sqlite3 import OperationalError

from sqlalchemy import create_engine
import psycopg2
from config import db_password
import time

In [2]:
absenteeism_file = 'Resources/MFGEmployees4.csv'

absenteeism_df = pd.read_csv(absenteeism_file, index_col=False)
absenteeism_df.head()

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit
0,1,Gutierrez,Molly,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.028816,6.018478,36.577306,Stores
1,2,Hardwick,Stephen,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.320902,5.532445,30.165072,Stores
2,3,Delgado,Chester,M,Richmond,Baker,Bakery,Richmond,Stores,48.822047,4.389973,83.807798,Stores
3,4,Simon,Irene,F,Victoria,Baker,Bakery,Victoria,Stores,44.599357,3.081736,70.020165,Stores
4,5,Delvalle,Edward,M,New Westminster,Baker,Bakery,New Westminster,Stores,35.697876,3.619091,0.000000,Stores

In [3]:
# Dropping rows with null values
absenteeism_df.dropna()

# We plan to round the age down to reflect how people self-report age
# In this draft, age is rounded up
absenteeism_df["Age"] = absenteeism_df["Age"].round()

# Drop unneeded columns for ML
absenteeism_df = absenteeism_df.drop(["Surname", "GivenName", "BusinessUnit"], axis=1)

# Length Service is presumed to be in Years
# Rounding LengthService and AbsentHours to two decimals to be more accurate rep of time 
absenteeism_df["LengthService"] = absenteeism_df["LengthService"].round(decimals=2)
absenteeism_df["AbsentHours"] = absenteeism_df["AbsentHours"].round(decimals=2)

# Set EmployeeNumber as Index
absenteeism_df.set_index('EmployeeNumber', inplace=True)

absenteeism_df.head()

,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours
EmployeeNumber,,,,,,,,,
1,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.0,6.02,36.58
2,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.0,5.53,30.17
3,M,Richmond,Baker,Bakery,Richmond,Stores,49.0,4.39,83.81
4,F,Victoria,Baker,Bakery,Victoria,Stores,45.0,3.08,70.02
5,M,New Westminster,Baker,Bakery,New Westminster,Stores,36.0,3.62,0.00

In [4]:
people_df = absenteeism_df.loc[:,["Gender", "JobTitle", "Age", "LengthService", "AbsentHours"]]
location_df = absenteeism_df.loc[:,["City", "DepartmentName", "StoreLocation", "Division", "AbsentHours"]]

In [5]:
people_df.head()

               Gender JobTitle   Age  LengthService  AbsentHours
EmployeeNumber
1                   F    Baker  32.0           6.02        36.58
2                   M    Baker  40.0           5.53        30.17
3                   M    Baker  49.0           4.39        83.81
4                   F    Baker  45.0           3.08        70.02
5                   M    Baker  36.0           3.62         0.00

In [6]:
location_df.head()

,City,DepartmentName,StoreLocation,Division,AbsentHours
EmployeeNumber,,,,,
1,Burnaby,Bakery,Burnaby,Stores,36.58
2,Courtenay,Bakery,Nanaimo,Stores,30.17
3,Richmond,Bakery,Richmond,Stores,83.81
4,Victoria,Bakery,Victoria,Stores,70.02
5,New Westminster,Bakery,New Westminster,Stores,0.00

## Database Connection

In [23]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/absenteeism"
engine = create_engine(db_string)
absenteeism_df.to_sql(name='absenteeism', con=engine, if_exists='replace')
people_df.to_sql(name='absenteeismlocation', con=engine, if_exists='replace')
location_df.to_sql(name='absenteeismpeople', con=engine, if_exists='replace')

## Unsupervised Machine Learning

In [7]:
absenteeism_df["Gender"].value_counts()

M    4216
F    4120
Name: Gender, dtype: int64

In [8]:
def gender_string(gender):
    if gender == 'M':
        return 1
    else:
        return 0

absenteeism_df.update(people_df.loc[:,"Gender"].apply(gender_string))
absenteeism_df.head()

,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours
EmployeeNumber,,,,,,,,,
1,0,Burnaby,Baker,Bakery,Burnaby,Stores,32.0,6.02,36.58
2,1,Courtenay,Baker,Bakery,Nanaimo,Stores,40.0,5.53,30.17
3,1,Richmond,Baker,Bakery,Richmond,Stores,49.0,4.39,83.81
4,0,Victoria,Baker,Bakery,Victoria,Stores,45.0,3.08,70.02
5,1,New Westminster,Baker,Bakery,New Westminster,Stores,36.0,3.62,0.00

In [9]:
# Use get_dummies() to create variables for text features.
X=pd.get_dummies(absenteeism_df, columns=["City","JobTitle", "DepartmentName", "StoreLocation", "Division"])
print(X.shape)
X.head(10)

(8336, 361)

,Gender,Age,LengthService,AbsentHours,City_Abbotsford,City_Agassiz,City_Aiyansh,City_Aldergrove,City_Alexis Creek,City_Alkali Lake,...,StoreLocation_Victoria,StoreLocation_West Vancouver,StoreLocation_White Rock,StoreLocation_Williams Lake,Division_Executive,Division_FinanceAndAccounting,Division_HumanResources,Division_InfoTech,Division_Legal,Division_Stores
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,0,32.0,6.02,36.58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,40.0,5.53,30.17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,49.0,4.39,83.81,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,45.0,3.08,70.02,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
5,1,36.0,3.62,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,1,48.0,2.72,81.83,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,1,51.0,10.16,60.50,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,1,36.0,4.43,30.07,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9,1,58.0,6.94,181.63,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1,40.0,13.85,30.66,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
# Standardize the data with StandardScaler()
X_scaled=StandardScaler().fit_transform(X)
X_scaled

array([[-1.0115834 , -1.00704278,  0.50228467, ..., -0.03465627,
        -0.01897405,  0.14557881],
       [ 0.98854924, -0.20227743,  0.30332868, ..., -0.03465627,
        -0.01897405,  0.14557881],
       [ 0.98854924,  0.7030836 , -0.15954851, ..., -0.03465627,
        -0.01897405,  0.14557881],
       ...,
       [-1.0115834 ,  1.60844463, -0.31384091, ..., -0.03465627,
        -0.01897405,  0.14557881],
       [-1.0115834 ,  0.09950958,  0.55506891, ..., -0.03465627,
        -0.01897405,  0.14557881],
       [ 0.98854924,  0.40129659,  0.15715694, ..., -0.03465627,
        -0.01897405,  0.14557881]])

### PCA & K-Means

In [11]:
# Using PCA to reduce dimension to eight principal components.
pca = PCA(n_components=8)
X_pca = pca.fit_transform(X_scaled)
X_pca

array([[-0.34163162, -0.15425951,  0.10629984, ...,  2.74426778,
         0.82142702,  1.99815748],
       [-0.46068248, -0.07036319, -0.06807432, ..., -0.21747197,
        -1.37296336,  2.73265465],
       [-0.51063301, -0.28117937,  0.04466246, ..., -0.28068066,
        -1.31852737,  3.11228164],
       ...,
       [-0.46831484, -0.89750484, -0.26060481, ..., -1.87223288,
         0.82621021, -1.40319742],
       [ 0.84025975,  0.16233222,  0.10091768, ...,  1.75559259,
         1.54966296,  0.51396228],
       [ 0.70443793,  0.1662316 ,  0.14493069, ...,  1.76146326,
         1.56230437,  0.58953708]])

In [12]:
### These show the past iterations of PCA that were changed in an effort to find the highest EVR in the next step
#pcs_df=pd.DataFrame(data=X_pca, columns=["PC 1", "PC 2"], index = absenteeism_df.index)
#pcs_df=pd.DataFrame(data=X_pca, columns=["PC 1", "PC 2","PC 3","PC 4"], index = absenteeism_df.index)
#pcs_df=pd.DataFrame(data=X_pca, columns=["PC 1", "PC 2","PC 3","PC 4","PC 5"], index = absenteeism_df.index)
#pcs_df=pd.DataFrame(data=X_pca, columns=["PC 1", "PC 2","PC 3","PC 4","PC 5","PC 6","PC 7"], index = absenteeism_df.index)

# Create a DataFrame with the eight principal components.
pcs_df=pd.DataFrame(data=X_pca, columns=["PC 1", "PC 2","PC 3","PC 4","PC 5","PC 6","PC 7","PC 8"], index = absenteeism_df.index)
pcs_df.head(10)

,PC 1,PC 2,PC 3,PC 4,PC 5,PC 6,PC 7,PC 8
EmployeeNumber,,,,,,,,
1,-0.341632,-0.154260,0.106300,0.091305,0.083596,2.744268,0.821427,1.998157
2,-0.460682,-0.070363,-0.068074,-0.000488,-0.101182,-0.217472,-1.372963,2.732655
3,-0.510633,-0.281179,0.044662,-0.103049,0.238837,-0.280681,-1.318527,3.112282
4,-0.788334,-0.208961,0.015425,0.024899,0.021002,0.153569,-1.511454,0.799244
5,-0.556687,0.135235,0.044812,0.004024,0.064000,0.858385,-1.744921,2.436655
6,-0.725336,-0.196999,0.054213,-0.102091,0.237354,-0.295204,-1.314826,3.129320
7,13.022646,13.227730,-6.006511,-4.996740,-0.931653,0.651422,-1.600237,0.135917
8,-0.536065,-0.795141,-0.233248,0.286997,-0.245189,0.206193,-1.772686,1.013679
9,-0.127986,-0.274820,-0.017306,0.047072,-0.069774,0.873398,-1.738415,2.540372
10,13.466016,13.135981,-6.009566,-5.011449,-0.878832,0.688227,-1.612311,0.053051

In [13]:
pca.explained_variance_ratio_

array([0.01298261, 0.00845247, 0.00832732, 0.00829227, 0.00824891,
       0.0076036 , 0.00730946, 0.00683287])

In [14]:
### Expanding the number of PCs to 8 still only covers around 6.6% of the data, 
### meaning that K-Means (and potentially UML) may not be the best sorting method for this example

In [15]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1,11))
for i in k:
    km = KMeans(n_clusters=i, random_state=5)
    km.fit(X)
    inertia.append(km.inertia_)

elbow_data = {'k' : k, 'inertia' : inertia}
elbow_df = pd.DataFrame(elbow_data)
elbow_df.hvplot.line(x='k', y='inertia', title='Elbow Curve', xticks=k)

:Curve   [k]   (inertia)

In [16]:
# Initialize the K-Means model.
model = KMeans(n_clusters=3, random_state=5)

# Fit the model
model.fit(pcs_df)

# Predict clusters
predictions = model.predict(pcs_df)
predictions

array([0, 0, 0, ..., 0, 0, 0])

In [17]:
# Create a new DataFrame including predicted clusters
# Concatentate the absenteeism_df and pcs_df DataFrames on the same columns.

### PCA VERSION
clustered_df = pd.concat([absenteeism_df,pcs_df],axis=1)

### NO PCA VERSION
#clustered_df = pd.concat([absenteeism_df],axis=1)

#  Add a new column, "Class" to the clustered_df DataFrame that holds the predictions.
clustered_df['Class'] = predictions

# Print the shape of the clustered_df
print(clustered_df.shape)
clustered_df.head(10)

(8336, 18)

,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,PC 1,PC 2,PC 3,PC 4,PC 5,PC 6,PC 7,PC 8,Class
EmployeeNumber,,,,,,,,,,,,,,,,,,
1,0,Burnaby,Baker,Bakery,Burnaby,Stores,32.0,6.02,36.58,-0.341632,-0.154260,0.106300,0.091305,0.083596,2.744268,0.821427,1.998157,0
2,1,Courtenay,Baker,Bakery,Nanaimo,Stores,40.0,5.53,30.17,-0.460682,-0.070363,-0.068074,-0.000488,-0.101182,-0.217472,-1.372963,2.732655,0
3,1,Richmond,Baker,Bakery,Richmond,Stores,49.0,4.39,83.81,-0.510633,-0.281179,0.044662,-0.103049,0.238837,-0.280681,-1.318527,3.112282,0
4,0,Victoria,Baker,Bakery,Victoria,Stores,45.0,3.08,70.02,-0.788334,-0.208961,0.015425,0.024899,0.021002,0.153569,-1.511454,0.799244,0
5,1,New Westminster,Baker,Bakery,New Westminster,Stores,36.0,3.62,0.00,-0.556687,0.135235,0.044812,0.004024,0.064000,0.858385,-1.744921,2.436655,0
6,1,Richmond,Baker,Bakery,Richmond,Stores,48.0,2.72,81.83,-0.725336,-0.196999,0.054213,-0.102091,0.237354,-0.295204,-1.314826,3.129320,0
7,1,Vancouver,Accounting Clerk,Accounting,Vancouver,FinanceAndAccounting,51.0,10.16,60.50,13.022646,13.227730,-6.006511,-4.996740,-0.931653,0.651422,-1.600237,0.135917,2
8,1,Sechelt,Baker,Bakery,West Vancouver,Stores,36.0,4.43,30.07,-0.536065,-0.795141,-0.233248,0.286997,-0.245189,0.206193,-1.772686,1.013679,0
9,1,New Westminster,Baker,Bakery,New Westminster,Stores,58.0,6.94,181.63,-0.127986,-0.274820,-0.017306,0.047072,-0.069774,0.873398,-1.738415,2.540372,0
10,1,Vancouver,Accounting Clerk,Accounting,Vancouver,FinanceAndAccounting,40.0,13.85,30.66,13.466016,13.135981,-6.009566,-5.011449,-0.878832,0.688227,-1.612311,0.053051,2