In [1]:
import pandas as pd

In [33]:
absenteeism_file = 'Resources/MFGEmployees4.csv'

absenteeism_df = pd.read_csv(absenteeism_file, index_col=False)

absenteeism_df.head()

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit
0,1,Gutierrez,Molly,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.028816,6.018478,36.577306,Stores
1,2,Hardwick,Stephen,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.320902,5.532445,30.165072,Stores
2,3,Delgado,Chester,M,Richmond,Baker,Bakery,Richmond,Stores,48.822047,4.389973,83.807798,Stores
3,4,Simon,Irene,F,Victoria,Baker,Bakery,Victoria,Stores,44.599357,3.081736,70.020165,Stores
4,5,Delvalle,Edward,M,New Westminster,Baker,Bakery,New Westminster,Stores,35.697876,3.619091,0.000000,Stores

In [34]:
# We want to round down to reflect age
absenteeism_df["Age"] = absenteeism_df["Age"].round()
absenteeism_df = absenteeism_df.drop(["Surname", "GivenName", "BusinessUnit"], axis=1)
absenteeism_df["LengthService"] = absenteeism_df["LengthService"].round(decimals=2)
absenteeism_df["AbsentHours"] = absenteeism_df["AbsentHours"].round(decimals=2)
absenteeism_df.head()

,EmployeeNumber,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours
0,1,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.0,6.02,36.58
1,2,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.0,5.53,30.17
2,3,M,Richmond,Baker,Bakery,Richmond,Stores,49.0,4.39,83.81
3,4,F,Victoria,Baker,Bakery,Victoria,Stores,45.0,3.08,70.02
4,5,M,New Westminster,Baker,Bakery,New Westminster,Stores,36.0,3.62,0.00

In [35]:
people_df = absenteeism_df[["EmployeeNumber", "Gender", "JobTitle", "Age", "LengthService", "AbsentHours"]]
location_df = absenteeism_df[["EmployeeNumber", "City", "DepartmentName", "StoreLocation", "Division", "AbsentHours"]]

In [36]:
people_df.head()

   EmployeeNumber Gender JobTitle   Age  LengthService  AbsentHours
0               1      F    Baker  32.0           6.02        36.58
1               2      M    Baker  40.0           5.53        30.17
2               3      M    Baker  49.0           4.39        83.81
3               4      F    Baker  45.0           3.08        70.02
4               5      M    Baker  36.0           3.62         0.00

In [37]:
location_df.head()

,EmployeeNumber,City,DepartmentName,StoreLocation,Division,AbsentHours
0,1,Burnaby,Bakery,Burnaby,Stores,36.58
1,2,Courtenay,Bakery,Nanaimo,Stores,30.17
2,3,Richmond,Bakery,Richmond,Stores,83.81
3,4,Victoria,Bakery,Victoria,Stores,70.02
4,5,New Westminster,Bakery,New Westminster,Stores,0.00

In [ ]:
# Supervised Learning Model:
# Is there a difference in absent hours between males and females?

# Classification - Module 17

# Features - Variables used to make a prediction - Absent Hours
# Target - Predicted outcome - Gender

# We want the model to predict if an employee is male or female based on their AbsentHours - It will most likely NOT be able to do this. There is most likely no relationship between Gender and AbsentHours.

# In our classification example, the target variable only has two possible values: whether a person votes "Yes" or "No." When the classification model encounters new data, it would attempt to predict whether the votes cast by people will be "Yes" or "No."

# Gender - Male (0), Female (1)

# Imports
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

# Sample Scatter plot
plt.scatter(people_df.Gender, people_df.AbsentHours)
plt.xlabel('Hours of Absence')
plt.ylabel('Gender')
plt.show()

# The next line of code formats the data to meet the requirements of the Scikit-learn library:
X = people_df.Gender.values.reshape(-1, 1)

# Assign the target variable
y = people_df.AbsentHours

# Create an instance of the linear regression model
model = LinearRegression()

# Learning stage begins: Fit the model
model.fit(X, y)

# Predict method to generate predictions
y_pred = model.predict(X)
print(y_pred.shape)

# Plot predictions
plt.scatter(X, y)
plt.plot(X, y_pred, color='red') # Best fit: plot the predictions as a red line against the data points
plt.show()

# The slope is represented by model.coef_, and model.intercept_ is the y-intercept:
print(model.coef_)
print(model.intercept_)

# Evaluate performance
    # Accuracy
    # Precision
    # Sensitivity